<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        {intl l="Process And Invoice" d='processandinvoice.bo.default'}
                    </div>

                    <a href="{url path="/admin/module/ProcessAndInvoice/set_all"}">
                    <button type="button" class="btn btn-default btn-primary btn-sm decal" >
                        {intl l="Set all orders as invoiced" d='processandinvoice.bo.default'}
                    </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>