<style>
    .modal-lg {
        width: 900px;
    }
    .decal {
        float : right;
        margin-left: 5px;
    }
</style>

<button type="button" class="btn btn-default btn-primary btn-sm decal" id="btn-print-invoices">
    <span class="glyphicon glyphicon-print"></span>
    <span id="initial-text">{intl l="Process paid orders"}</span>
    <span id="progress-text"></span>
</button>

<button type="button" class="btn btn-default btn-primary btn-sm decal" data-toggle="modal" data-target="#multi-order-tab" id="btn-multi-order-pdf">
    <span class="glyphicon glyphicon-cloud-download"></span>
    {intl l="PDF Invoices"}
    <span class="badge">
        {$orderCount = 0}
        {loop type="invoice.pdf.order-loop" name="order-list" customer="*" status="2,3,4" limit="100" invoiced="0"}
            {if $LOOP_TOTAL >= 100}
                {$orderCount = "100+"}
            {else}
                {$orderCount = $LOOP_TOTAL}
            {/if}
        {/loop}
        {$orderCount}
    </span>
</button>
