<?xml version="1.0" encoding="UTF-8" ?>

<!-- Services, the back-office hook and the routes are registered by ProcessAndInvoice::configureServices(); Thelia 3 still loads this file. -->
<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

</config>
