<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>ProcessAndInvoice\ProcessAndInvoice</fullnamespace>
    <descriptive locale="en_US">
        <title>Process and Invoice</title>
        <description>Mass invoice generation</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Traitement et Facture</title>
        <description>Génération de factures en masse</description>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>1.2.1</version>
    <authors>
        <author>
            <name>Luc Normandon</name>
            <email>lucnormandon@openstudio.fr</email>
        </author>
    </authors>
    <type>classic</type>
    <thelia>2.4.0</thelia>
    <stability>other</stability>
    <mandatory>0</mandatory>
    <hidden>0</hidden>
</module>
