{default_translation_domain domain='processandinvoice.default'}
{literal}
<style>
    .align-center {
        text-align: center;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .table-border {
        border: solid 1px #3a3b3c;
        text-align: center;
        vertical-align: center;
        height: auto;
    }

    page {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 8px;
    }

    td {
        font-size: 8px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    p {
        font-size: 12px;
    }
</style>
{/literal}

<page>
    <p><b class="align-left">Rapport</b></p>
        <table>
            <col style="width: 10%; padding: 1mm; " />
            <col style="width: 20%; padding: 1mm; " />
            <col style="width: 20%; padding: 1mm; " />
            <col style="width: 35%; padding: 1mm; " />
            <col style="width: 15%; padding: 1mm; text-align: right;" />
            <thead>
            <tr>
                <th>ID</th>
                <th>Référence</th>
                <th>Date et heure</th>
                <th>Nom du client</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            {loop type="order" name="paid-orders" status="2" customer="*" backend_context=1}
            <tr>
                <td>{$ID}</td>
                <td>{$REF}</td>
                <td>{format_date date=$CREATE_DATE output="date"}</td>
                {loop type="customer" name="customer" id={$CUSTOMER} backend_context=1 current="false"}
                <td>{$FIRSTNAME} {$LASTNAME}</td>
                {/loop}
                <td>{$TOTAL_TAXED_AMOUNT|string_format:"%.2f"}</td>
            </tr>
            {/loop}
            </tbody>
        </table>
        <table>
            <col style="width: 30%; padding: 1mm; " />
            <col style="width: 20%; padding: 1mm; " />
            <thead>
            <tr>
                <th class="table-border ca" valign="middle">TOTAL CA</th>
                <th class="table-border commandes" valign="middle">Commandes traitées</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="table-border ca" valign="middle">{$total_turnover}</td>
                <td class="table-border commandes" valign="middle">{$total_orders}</td>
            </tr>
            </tbody>
        </table>
</page>
